{% extends 'useradmin/base.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        .frame img{
            border-radius: 50%;
        }
    </style>
</head>
<section class="content-main">
    <!-- <div class="content-header">
        <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
    </div> -->
    <div class="card mb-4">
        <div class="card-header bg-brand-2" style="height: 150px;"></div>
        <div class="card-body">
            <div class="row mb-60">
                <div class="col-xl col-lg flex-grow-0" style="flex-basis: 230px;">
                    <div class="img-thumbnail  position-relative text-center frame" style="height: 200px; width: 200px; margin-top: -100px; margin-bottom: 10px;">
                        {% if request.user.profile.image %}
                        <img src="{{ request.user.profile.image.url}}" class="center-xy img-fluid"  alt="Logo Brand" />
                        {%else %}
                        <img class="img-lg mb-3 img-avatar" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg" alt="User Photo" />
                        {% endif %}

                    </div>
                </div>
                <!-- <aside class="col-lg-4 img-thumbnail">
                    <figure class="text-lg-center position-relative">
                        
                        {% if request.user.profile.image %}
                            <img class="img-lg mb-3 img-avatar center-xy" src="{{request.user.profile.image.url}}" alt="User Photo" />
                        {% else %}
                            <img class="img-lg mb-3 img-avatar" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg" alt="User Photo" />
                        {% endif %}
                    
                    </figure>
                </aside> -->
                <div class="col-xl col-lg">
                    <h3>{{request.user.username}}</h3>
                    <p class="mt-0 mb-0">{{request.user.email}}</p>
                </div>
            </div>
            <!-- card-body.// -->
            <hr class="my-4" />
            <div class="row g-4">
                {% if user.is_superuser %}
                <div class="col-md-12 col-lg-4 col-xl-2">
                    <article class="box">
                        <p class="mb-0 text-muted">Total sales:</p>
                        <h5 class="text-success">{{ total_sales.qty|default:"No Sales Yet" }}</h5>
                        <p class="mb-0 text-muted">Revenue:</p>
                        <h5 class="text-success mb-0">${{revenue.total_price|default:"0.00"}}</h5>
                    </article>
                </div>
                {% endif %}
                <!--  col.// -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <h6>Bio Data</h6>
                    <p>
                        {{request.user.email}} <br />
                        {% if request.user.profile.full_name%}
                        {{request.user.profile.full_name}} <br />
                        {% endif%}
                         
                        {% if request.user.profile.phone %}
                        {{request.user.profile.phone}}
                        {% endif %}
                    </p>
                </div>
                {% if address %}
                <div class="col-sm-6 col-lg-4 col-xl-6">
                    <h6>Address & Location</h6>
                    <p>
                        Address: {{address.address}}
                    </p>
                    <p>
                        Country: {{address.country}} 
                    </p>
                    
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% if user.is_superuser %}
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Products</h3>
            <div class="row">
                {% for p in products %}
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <div class="card card-product-grid">
                            <a href="#" class="img-wrap"> <img src="{{ p.image.url }}" style="width: 100%; height: 200px; object-fit: cover;  border-radius: 50%;" alt="{{p.title}}" /> </a>
                            <div class="info-wrap">
                                <a href="#" class="title">{{p.title}}</a>
                                <div class="price mt-1">${{p.price}}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock content %}
