{% extends 'partials/base.html'%}
{% load static %}

{% block content %}
<head>
    <style>
        .categories {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
            gap: 20px;
        }
    </style>
</head>

<!-- End header -->
<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <!-- <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> <a href="shop-grid-right.html">Vegetables & tubers</a> <span></span> Seeds of Change Organic
            </div> -->
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Categories</h1>
                        <div class="breadcrumb">
                            <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span> Categories
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="shop-product-fillter mb-50 pr-30">
                        <div class="totall-product">
                            <h2>
                                {{categories.count}} Categories
                            </h2>
                        </div>
                      
                    </div>
                    <div class="loop-grid pr-30">
                        <div class="row categories">
                            {% for c in categories %}
                            <article class="text-center hover-up mb-30 animated" style="margin: 10px; background-color: #cae1d6; padding: 20px; border-radius: 6px">
                                <div class="post-thumb">
                                    <a href="{% url 'core:category-product-list' c.cid %}">
                                        <img class="border-radius-15" src="{{c.image.url}}" alt="" width="100px" height="100px" />
                                    </a>
                                    <!-- <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i
                                                class="fi-rs-heart"></i></a>
                                    </div> -->
                                </div>
                                <div class="entry-content-2">
                                    <!-- <h6 class="mb-10 font-sm"><a class="entry-meta text-muted"
                                            href="blog-category-grid.html">Side Dish</a></h6> -->
                                    <h4 class="post-title mb-15">
                                        <a href="{% url 'core:category-product-list' c.cid %}">{{c.title}}</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div style="color: black;">
                                            <span class="hit-count mr-10">{{c.category.count}}
                                                product{{c.category.count|pluralize}}</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
             
                </div>
               
            </div>
        </div>
    </div>
</main>
{% endblock content %}