{% extends 'partials/base.html'%}
{% load static %}

{% block content %}
<head>
    <style>

        button.add-to-cart-btn{
            color: #3bb77e;
            border: none;
        }

        button.add-to-cart-btn:hover{
            color: white;
        }
        .add-favoris {
            display: flex;
            justify-content: space-between;
        }
        .add-favoris button{
          display: block;
          flex: 1;
        }
    </style>
</head>

<!--End header-->
<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">{{category.title}}</h1>
                        <div class="breadcrumb">
                            <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span><a href="{% url 'core:category-list' %}" rel="nofollow">Categories</a>
                            <span></span> {{category.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row">
            <div class="col-12">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p>We found <strong class="text-brand">{{ products.count }}</strong> items for you!</p>
                    </div>
                   
                </div>
                <div class="row product-grid">
                    {% for p in products %}
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'core:product-detail' p.pid %}">
                                        <img class="default-img" src="{{p.image.url}}" alt="" />
                                        <img class="hover-img" src="{{p.image.url}}" alt="" />
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist"  class="action-btn add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></a>
                                    <!-- <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i
                                            class="fi-rs-shuffle"></i></a> -->
                                    <a  href="{% url 'core:product-detail' p.pid %}"   aria-label="Quick view" class="action-btn"
                                        ><i class="fi-rs-eye"></i></a>
                                </div>
                                {% if p.deals %}
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">-{{ p.get_precentage | floatformat:0 }}%</span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="shop-grid-right.html">{{p.category.title}}</a>
                                </div>
                                <h2><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                                </h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <!-- <div>
                                        <span class="font-small text-muted">By <a
                                                href="vendor-details-1.html">NestFood</a></span>
                                    </div> -->
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>$</span><span class="current-product-price-{{p.id}}">{{ p.price }}</span>
                                            {% if p.deals %}
                                            <span class="old-price">${{ p.old_price }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="product-card-bottom add-cart">
                                        <div class="add-cart">
                                            <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}" max="{{ p.total_weight }}">
                                            <input type="hidden" name="" id="" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                            <input type="hidden" name="" id="" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                            <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}" name="" id="">
                                            <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}" name="" id="">
                                            <div class="add-favoris" >
                                                <button class="add add-to-cart-btn b-none" data-index="{{ p.id }}" ><i
                                                class="fi-rs-shopping-cart mr-5" id="add-to-cart-btn"></i>Add </button>
                                                <button style="border: none; background: none;" class="add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart" style="fill: aqua;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
           
            </div>
        </div>
    </div>
</main>
{% endblock content %}