{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> Privacy Policy
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <h2 class="mb-40">Privacy Policy</h2>
                                    <div class="single-content mb-50">
                                        <h4>Introduction</h4>
                                        <p>
                                            Shahd Market respects the privacy of our users. This Privacy Policy explains how we
                                            collect, use, disclose, and safeguard your information when you visit our
                                            website www.shahd.me, including any other media form, media channel, mobile
                                            website, or mobile application related or connected thereto. Please read this
                                            privacy policy carefully. If you do not agree with the terms of this privacy
                                            policy, please do not access the site.
                                        </p>
                                        <p>
                                            We reserve the right to make changes to this Privacy Policy at any time and for
                                            any reason. We will alert you about any changes by updating the “Last Updated”
                                            date of this Privacy Policy. Any changes or modifications will be effective
                                            immediately upon posting the updated Privacy Policy on the Site, and you waive
                                            the right to receive specific notice of each such change or modification.
                                        </p>
                                        <p>
                                            You are encouraged to periodically review this Privacy Policy to stay informed
                                            of updates. You will be deemed to have been made aware of, will be subject to,
                                            and will be deemed to have accepted the changes in any revised Privacy Policy by
                                            your continued use of the Site after the date such revised Privacy Policy is
                                            posted.
                                        </p>
                                    </div>
                                    <div class="single-content mb-50">
                                        <h4>Collection of your information</h4>
                                        <p>
                                            We may collect information about you in a variety of ways. The information we
                                            may collect on the Site includes:
                                        </p>
                                        <h5>
                                            <li>
    
                                                Personal Data
                                            </li>
                                        </h5>
                                        <p>
                                            Personally identifiable information, such as your name, shipping address, email
                                            address, and telephone number, and demographic information, such as your age,
                                            gender, hometown, and interests, that you voluntarily give to us when you
                                            register with the Site or when you choose to participate in various activities
                                            related to the Site, such as online chat and message boards. You are under no
                                            obligation to provide us with personal information of any kind, however your
                                            refusal to do so may prevent you from using certain features of the Site.
                                        </p>
                                        <h5>
                                            <li>
    
                                                Derivative Data
                                            </li>
                                        </h5>
                                        <p>
                                            Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site.
                                        </p>
                                        <h5>
                                            <li>
    
                                                Financial Data
                                            </li>
                                        </h5>
                                        <p>
                                            Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site. We store only very limited, if any, financial information that we collect. Otherwise, all financial information is stored by our payment processor, Payfort, and you are encouraged to review their privacy policy and contact them directly for responses to your questions.
                                        </p>
                                       
                                        <h4>Contact Us</h4>
                                        <p>If you have any questions about these Terms, please <a
                                                href="{% url 'core:contact'%}">contact us</a>.</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
