{% extends 'partials/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
<script>hljs.initHighlightingOnLoad();</script>
<script src="cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script src="{% static 'assets/js/prism.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/prism.css' %}">

<!--End header-->
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> <a href="{% url 'core:product-list' %}">Products</a> <span></span> {{p.title}}
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row">
            <div class="col-xl-11 col-lg-12 m-auto">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50 mt-30">
                                <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="{{p.image.url}}" alt="product image" />
                                            </figure>
                                            {% for p in p_image %}
                                            <figure class="border-radius-10">
                                                <img src="{{ p.images.url }}" alt="product image" />
                                            </figure>
                                            {% endfor %}
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails">
                                            <div><img style="width: 140px; height: 140px; object-fit: cover;"
                                                    src="{{p.image.url}}" alt="product image" /></div>
                                            {% for p in p_image %}
                                            <div><img style="width: 140px; height: 140px; object-fit: cover;"
                                                    src="{{p.images.url}}" alt="product image" /></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info pr-30 pl-30">
                                        {% if p.deals %}
                                        <span class="stock-status out-stock"> -{{ p.get_precentage|floatformat:0}}%
                                        </span>
                                        {% endif %}
                                        <h2 class="title-detail">{{p.title}}</h2>
                                        {% if average_rating.rating > 0 %}
                                        <div class="product-detail-rating">
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: {{average_rating.rating * 2 * 100}}%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> {{ average_rating.rating|floatformat:1 }} </span>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <span class="current-price text-brand">$</span><span  class="current-price text-brand current-product-price-{{p.id}}">{{p.price}}</span>
                                                {% if p.deals %}
                                                <span>
                                                    <span
                                                        class="save-price font-md color3 ml-15">-{{p.get_precentage|floatformat:0}}%
                                                        Off</span>
                                                    <span class="old-price font-md ml-15">${{p.old_price}}</span>
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="short-desc mb-30">
                                            <p class="font-lg">{{p.specifications|truncatechars:150}}</p>
                                        </div>
                                      
                                        <div class="detail-extralink mb-50">
                                            
                                            <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10 product-quantity-{{p.id}}"  max="{{ p.total_weight }}">   <span style="font-size: 20px; color : #3bb77e; margin-left: 5px; font-weight: bold;">Kg</span>
                                            <br>
                                            <div class="product-extra-link2">
                                                <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20
                                                        product-quantity-{{p.id}}">
                                                        <input type="hidden" name="" id="" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                                        <input type="hidden" name="" id="" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                                        <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}" name="" id="">
                                                        <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}" name="" id="">
                                                        <button type="submit"  class="button button-add-to-cart add-to-cart-btn"  data-index="{{ p.id }}"><i
                                                        class="fi-rs-shopping-cart"></i>Add to cart</button>
                                                        <button  class="action-btn hover-up add-to-wishlist" style="border: 1px solid #ccc; padding : 12px 15px; background: none; border-radius: 6px" data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></button>
                                                       
                                            </div>
                                        </div>
                                        <div class="font-xs">
                                            <ul class="mr-50 float-start">
                                                <li class="mb-5">Category:<span class="text-brand">
                                                        {{p.category.title}}</span>
                                                </li>
                                                <li class="mb-5">Origin:<span class="text-brand"> {{p.origin}}</span>
                                                </li>
                                                <li>Color: <span class="text-brand">{{p.color}}</span></li>
                                            </ul>
                                            <ul class="float-start">
                                                <li class="mb-5">SKU: <a href="#">{{p.sku}}</a></li>
                                                <li class="mb-5">Tags: {% for tag in p.tags.all %}<a
                                                        href="{% url 'core:tags' tag.slug %}" rel="tag"> #{{tag.name}}</a>,{% endfor %} </li>
                                                <li>Stock:<span class="in-stock text-brand ml-5">{{p.total_weight}}Kg In
                                                        Stock</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="tab-style3">
                                    <ul class="nav nav-tabs text-uppercase">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                                href="#Description">Description</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                                href="#Reviews">Reviews ({{reviews.count}})</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content shop_info_tab entry-main-content">
                                        <div class="tab-pane fade show active" id="Description">
                                            <div class="">
                                                <p>{{p.description|safe}}</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Reviews">
                                            <!--Comments-->
                                            <div class="comments-area">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h4 class="mb-30">Customer reviews</h4>
                                                        {%if not reviews%}
                                                        <p>There is no reviews!</p>
                                                        {% endif %}
                                                        <div class="comment-list">
                                                            {% for review in reviews %}
                                                            <div class="single-comment justify-content-between d-flex mb-30">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4U2vtsoOTHDrVQO90yfHO4JWwSwTod5SQE0CY4WlnxArPdzm9nJAESeFALA&s"
                                                                            alt="" />
                                                                        <a href="#"
                                                                            class="font-heading text-brand">{{review.user.username|title}}</a>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div
                                                                            class="d-flex justify-content-between mb-10">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="font-xs text-muted">{{review.review_date|date:"dM, Y"}} </span>
                                                                            </div>
                                                                            <div style="margin-left: 15px !important;">
                                                                                {% for star in review.rating|ljust:review.rating %}
                                                                                <i class="fas fa-star text-warning"></i>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                        <p class="mb-10"> {{ review.review }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                    {% if average_rating.rating > 0 %}
                                                    <div class="col-lg-4">
                                                        <div class="d-flex mb-30">
                                                            <div class="product-rate d-inline-block mr-15">
                                                                <div class="product-rating" style="width: 90%"></div>
                                                            </div>

                                                            <h6>{{ average_rating.rating|floatformat:1 }} out of 5.0
                                                            </h6>
                                                        </div>
                                                        <div class="progress">
                                                            <span>5 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="100">50%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>4 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100">25%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>3 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 45%" aria-valuenow="45" aria-valuemin="0"
                                                                aria-valuemax="100">45%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>2 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                                                                aria-valuemax="100">65%</div>
                                                        </div>
                                                        <div class="progress mb-30">
                                                            <span>1 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                                                                aria-valuemax="100">85%</div>
                                                        </div>
                                                       
                                                    </div>
                                                    {% endif%}
                                                </div>
                                            </div>
                                            <!--comment form-->
                                            {% if request.user.is_authenticated %}
                                            {% if make_review %}
                                            <div class="comment-form">
                                                <h4 class="mb-15 hide-add-review add-review">Add a review</h4>
                                                <strong class="text-success" id="review-res"> </strong>
                                                <!-- <div class="product-rate d-inline-block mb-30"></div> -->
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-12">
                                                        <form class="form-contact comment_form hide-comment-form"
                                                            action="{% url 'core:ajax-add-review' p.pid %}"
                                                            id="commentForm" method="POST">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        {{ review_form.review }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        {{ review_form.rating }}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit"
                                                                    class="button button-contactForm">Submit
                                                                    Review</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                {%if products %}
                                <div class="col-12">
                                    <h2 class="section-title style-1 mb-30">Related products</h2>
                                </div>
                                {% endif %}
                                <div class="col-12">
                                    <div class="row related-products">
                                        {% for p in products %}
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6 mb-10">
                                            <div class="product-cart-wrap hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'core:product-detail' p.pid %}" tabindex="0">
                                                            <img class="default-img" src="{{ p.image.url }}" alt="" />
                                                            <img class="hover-img" src="{{ p.image.url}}" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Add To Wishlist"  class="action-btn add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></a>
                                                        <!-- <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i
                                                                class="fi-rs-shuffle"></i></a> -->
                                                        <a  href="{% url 'core:product-detail' p.pid %}"   aria-label="Quick view" class="action-btn"><i class="fi-rs-eye"></i></a> 
                                                    </div>
                                                    {% if p.deals %}
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">-{{ p.get_precentage|floatformat:0}}%</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="{% url 'core:product-detail' p.pid %}"
                                                            tabindex="0">{{p.title|truncatechars:20}}</a>
                                                    </h2>
                                                    <div class="rating-result" title="90%">
                                                        <span> </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>${{p.price}} </span>
                                                        {% if p.deals %}
                                                        <span class="old-price">${{p.old_price}}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 primary-sidebar sticky-sidebar mt-30">
                        <div class="sidebar-widget widget-delivery mb-30 bg-grey-9 box-shadow-none">
                            <h5 class="section-title style-3 mb-20">Delivery</h5>
                            <ul>
                                <li>
                                    <i class="fi fi-rs-marker mr-10 text-brand"></i>
                                    <span>
                                        {% if address %}
                                            {% for a in address %}

                                                    {% if a.status %}
                                                    {{ a.address }} <br />
                                                    <br />
                                                    <span class="text-success">Verified Address</span>
                                                    {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="text-danger"></span>Unknown
                                        {% endif %}    
                                    </span>
                                    {% if request.user.is_authenticated %}
                                    <a href="{% url 'useradmin:my_address'%}" class="change float-end">Change</a>
                                    {% endif %}
                                </li>
                                <li class="hr"><span></span></li>
                            </ul>
                            <h5 class="section-title style-3 mb-20">Return & Warranty</h5>
                            <ul>
                                <li>
                                    <i class="fi fi-rs-shield-check mr-10 text-brand"></i>
                                    <span> 100% Authentic </span>
                                </li>
                                <li>
                                    <i class="fi fi-rs-time-forward-ten mr-10 text-brand"></i>
                                    <span> 10 Days Return </span>
                                </li>
                                <li>
                                    <i class="fi fi-rs-diploma mr-10 text-brand"></i>
                                    <span> 12 Months Warranty </span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-category-2 mb-30">
                            <h5 class="section-title style-1 mb-30">Category</h5>
                            <ul>
                                {% for c in categories %}
                                <li>
                                    <a href="{% url 'core:category-product-list' c.cid %}"> <img src="{{c.image.url}}"
                                            alt="" />{{ c.title }}</a><span class="count">{{c.category.count}}</span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                       
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}