{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> Purchase Guide
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2>Purchase Guide</h2>
                                </div>
                                <figure class="border-radius-15 mb-30">
                                    <img class="border-radius-15" src="{% static 'assets/imgs/page/guide-1.png' %}"
                                        alt="" />
                                </figure>
                                <div class="single-content mb-50">
                                    <h3>1. Account Registering</h3>
                                    <p>Creating an account at Shahd Market is quick and easy, setting you up for a seamless shopping experience. Start by clicking on the "Register" button at the top right corner of our homepage. Fill in your details, including your name, email address, and a secure password. Once you've submitted your information, you'll receive a confirmation email to verify your account. After verification, you can log in, track your orders, save your favorite products, and enjoy a personalized shopping experience. Join our community today and start exploring the best honey products with ease! </p>
                                    <ul class="mb-30">
                                        <li>Username (required)</li>
                                        <li>Email address (required)</li>
                                        <li>Password (required)</li>
                                    </ul>
                                    <h3>2. Select Product</h3>
                                    <p>Selecting the perfect honey products at Shahd Market is simple and enjoyable. Begin by browsing our diverse categories, including raw honey, flavored honey, honeycomb, and more. Each product page provides detailed descriptions, customer reviews, and high-quality images to help you make an informed decision. Use our convenient filters to narrow down your options by category, price, color or origin. If you need further assistance, our customer support team is always ready to help with recommendations and answer any questions. Enjoy discovering the finest honey that suits your taste and needs at Shahd Market.</p>
                                    <h3>3. Confirm Order Content</h3>
                                    <p>Confirming your order at Shahd Market is the final step towards receiving your delicious honey products. After selecting your items and adding them to your cart, proceed to checkout. Review your order summary to ensure all details are correct, including product quantities and shipping information. Next, select your preferred payment method and enter any discount codes you may have. Once everything looks good, click the "Confirm Order" button , Enjoy the ease and security of shopping with Shahd Market, knowing your order is on its way!</p>
                                    <h3>4.Transaction Completed</h3>
                                    <p>Congratulations! Your transaction at Shahd Market is now complete. You will receive an email confirmation with all the details of your purchase, including a receipt and order summary. This email will also contain tracking information so you can monitor the progress of your shipment. Our team is dedicated to ensuring your order is processed quickly and arrives at your doorstep promptly. Should you have any questions or need further assistance, our customer support is always here to help. Thank you for choosing Shahd Market – we hope you enjoy your honey products and look forward to serving you again soon!
                                    </p>
                                    <h3>5. Accepted Credit Cards</h3>
                                    <ul>
                                        <li>Visa</li>
                                        <li>Mastercards</li>
                                        <li>...</li>
                                    </ul>
                                  
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}